<h1>Editing sti comment</h1>

<%= render "form", sti_comment: @sti_comment %>

<br>

<div>
  <%= link_to "Show this sti comment", @sti_comment %> |
  <%= link_to "Back to sti comments", sti_comments_path %>
</div>
