<p style="color: green"><%= notice %></p>

<h1>Sti comments</h1>

<div id="sti_comments">
  <% @sti_comments.each do |sti_comment| %>
    <%= render sti_comment %>
    <p>
      <%= link_to "Show this sti comment", sti_comment %>
    </p>
  <% end %>
</div>

<%= link_to "New sti comment", new_sti_comment_path %>
