<main class="container">
  <%= link_to "New post", new_post_path, class: "btn btn-primary" %>

  <h1>Posts</h1>

  <div id="posts">
    <% @posts.each do |post| %>
      <div class="mb-5">
          <div>
            <%= render post %>
          </div>
      </div>
    <% end %>
  </div>

</main>